@charset "utf-8";

// CDN assets
// @import "//fonts.googleapis.com/css?family=Raleway:100,300,500,600,700";
@import "//fonts.googleapis.com/css?family=Lato:100,100italic,400,400italic";
@import "//cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css";

// Normalize
@import "normalize";

// Foundation imports
@import "settings";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/visibility";

// Pace
@import "pace";
// @import "fonts";

// Animation.scss
@import "animate-scss/src/animate";

// ==================================================
// Main stylesheet

// base styles
html {
  height: 100%;
}

body {
  background: #fff url(#{$imgurl}/bg_brickwall.jpg) no-repeat fixed;
  background-size: cover;
  font-weight: 100;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(#000, .4);
}

.preloader {
  background-color: $grapefruit-light;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
  transition: transform .5s ease-in-out, visibility .5s;

  img {
    @include center-v;
    width: 80px;
    // height: 50px;
  }

  .loaded & {
    transform: translateX(-100%);
    visibility: hidden;
  }
}

strong,
b { font-weight: 700 }

h1 {
  font-size: rem-calc(60);
  font-weight: 300;
  line-height: 1;
  margin: rem-calc(40) 0;

  strong {
    display: inline;
    background: rgba($success-color, .5);
    line-height: .5;
    padding: 0 .2em;
    margin-left: -.2em;
    margin-right: -.2em;
  }

  @media #{$medium-only} {
    font-size: rem-calc(40);
    margin: rem-calc(25) 0;
  }

  @media #{$small-only} {
    font-size: rem-calc(30);
    margin: rem-calc(15) 0;
  }
}

h2 {
  font-size: rem-calc(40);
  font-weight: 600;
  line-height: 1;
  margin: rem-calc(15) 0;

  @media #{$medium-only} {
    font-size: rem-calc(35)
  }

  @media #{$small-only} {
    font-size: rem-calc(30);
    line-height: rem-calc(40);
  }
}

h3 {
  font-size: rem-calc(20);
  margin: rem-calc(10) 0;
  font-weight: 600;
}

h4 {
  font-size: rem-calc(20);
  margin: rem-calc(10) 0;
  line-height: rem-calc(24);
  font-weight: 100;

  @media #{$small-only} {
    font-size: rem-calc(18);
  }
}

h5 {
  font-size: rem-calc(28);
  font-weight: 600;
  margin: rem-calc(15) 0;
}

h6 {
  font-size: rem-calc(16);
  font-weight: 600;
  margin: rem-calc(10) 0;
}

p.lead {
  line-height: 1.2;
  font-weight: 300;
  font-size: rem-calc(20);
}

a { color: #5173bd }

a:hover,
a:focus { color: #5173bd }

.breath {
  margin: rem-calc(50) auto;

  @media #{$medium-only} {
    margin: rem-calc(30) auto;
  }

  @media #{$small-only} {
    margin: rem-calc(30) auto;
  }
}

section.breath {
  margin: 0;
  padding: rem-calc(80) 0;
}

// svgicons
// http://bbriel.me/svgicons
svg path, svg polygon, svg rect {
  fill: #fff;
}
svg circle {
  stroke: #fff;
  stroke-width: 1;
}

// Slab Text
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}
.slabtextdone .slabtext {
  display: block;
}

.bigtext-wrapper {
  opacity: 0;

  h1, h2, h3 {
    font-family: "franklin-gothic", $font-family-sans-serif;
    font-weight: 800;
    line-height: .85;
    text-transform: uppercase;
    // text-shadow: 5px 10px 30px rgba(#000, .15);
  }

  .wf-active & {
    opacity: 1;
    transition: opacity 1s;
  }
}

.masthead {
  position: relative;
  padding: 8rem 0;
  text-align: center;
  // height: 100%;
  // min-height: 1200px;

  .container {
    // @include center-v;
  }

  .salam {
    margin-bottom: 3rem;

    img {
      width: 60%;
    }
  }

  .masthead-logo {
    img {
      width: 60%;
    }
  }

  h1, h2 {
    margin: 0;
  }

  h1.caravan-of {
    // color: rgba(#fff, .5);
  }
  h1.praise {
    color: $grass-light;
  }
  h2.sub {
    // font-family: "Dosis", $font-family-sans-serif;
    // color: $mediumgray-dark;
  }

  @media #{$medium-only} {
    padding: 2.5rem 1rem;
    // min-height: 800px;
  }

  @media #{$small-only} {
    padding: 2.5rem 1rem;
    background-attachment: scroll;
    // min-height: initial;
  }
}

// Bouncing Arrow Animation

@keyframes arrowBounce {
  from {
    transform: translateY();
  }

  to {
    transform: translateY(rem-calc(-20));
  }
}

.scrollto {
  margin: rem-calc(50) auto 0;
  display: block;
  font-weight: 500;
  letter-spacing: .3em;
  text-transform: uppercase;

  @media #{$medium-only} {
    margin: rem-calc(70) auto 0;
  }
}

.scrollto,
.scrollto:hover,
.scrollto:focus {
  color: #fff;
  text-decoration: none;
}

.scrollto--arrow {
  img, svg {
    animation: arrowBounce .5s alternate infinite;
  }

  svg {
    width: rem-calc(70);

    @media #{$small-only} {
      width: rem-calc(40);
    }
  }
}

/*===SECTION TITLE===*/

.section-title {
  margin: rem-calc(60) auto;

  h2 {
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-right: -.15em;
    font-size: rem-calc(60);
    font-weight: 300;

    @media #{$small-only} {
      font-size: rem-calc(36);
      line-height: .8;
      letter-spacing: .1em;
      margin-right: -.1em;
    }
  }

  i.fa {
    font-size: rem-calc(120);
    display: block;
    margin-bottom: rem-calc(40);
    color: rgba(#fff, .9);
  }
}

p.lead {
  @media #{$small-only} {
    font-size: 1em;
    line-height: 1;
    // remove br
    br { content: ' ' }
    br:after { content: ' ' }
  }
}

/*==========LYRICS==============*/

.lyrics {
  // background: #fff;
  // color: $darkgray-light;
  text-align: center;
  padding: 2rem 0;

  h1 {
    color: $mint-dark;
  }

  p {
    // font-family: "franklin-gothic", $font-family-sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1;
    font-style: italic;

    // font-weight: 300;
    margin: 2rem 0;
  }

  p.big {
    font-family: "Lato", $font-family-sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5rem;
  }
}

/*==========FOOTER==============*/

footer {
  padding: 2rem 0;
}

.footer-text {
  margin-bottom: 6rem;
  text-shadow: 4px 4px 0 rgba(#000, .3);

  h1, h2 {
    font-family: "franklin-gothic", $font-family-sans-serif;
  }

  h1 {
    margin: 2em 0 0;
    color: $bittersweet-light;
    line-height: .9;
    letter-spacing: 0;
  }
  h2 {
    margin: 0 0 2rem;
    // color: $mediumgray-light;
    font-weight: 300;
  }
}

.footer-links {
  h3, h4 {
    // color: #666;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
  }

  h4 {
    // color: tint($alert-color, 20);
  }
}

.footerlinks a {
  padding: 0 rem-calc(13) rem-calc(15);
  display: inline-block;
}

// background images

.backstretch-carousel, .back-vide {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -4;
}

.back-vide {
  z-index: -3;
}

.bg-layer {
  background: #8b534d;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
}

.backstretch {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.slabtexted .slabtext {
  display:-moz-inline-box;
  display:inline-block;
  white-space:nowrap;
}
.slabtextinactive .slabtext {
  display:inline;
  white-space:normal;
  font-size:1em !important;
  letter-spacing:inherit !important;
  word-spacing:inherit !important;
  *letter-spacing:0 !important;
  *word-spacing:0 !important;
}
.slabtextdone .slabtext {
  display:block;
}