@charset "utf-8";

// Normalize
@import "normalize";

// Color names
@import "colors";

// Pace
@import "pace";

// Foundation imports
@import "base";
@import "foundation/components/grid";
@import "foundation/components/type";
@import "foundation/components/visibility";

// Animation.scss
@import "animate-scss/src/animate";

// ==================================================
// Main stylesheet

// base styles
html {
  height: 100%;
}

body {
  background: tint($bittersweet-light, 50) url(#{$imgurl}/bg_wood_edit.jpg) no-repeat fixed center;
  background-size: cover;
  font-size: 30px;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 0 rgba(#000, .3);
}

strong,
b { font-weight: 700 }

// Slab Text
.bigtext-wrapper {
  opacity: 0;

  h1, h2, h3 {
    margin: 0;
    // font-family: "franklin-gothic", $font-family-sans-serif;
    font-weight: 800;
    line-height: .85;
    // text-transform: uppercase;
    // text-shadow: 5px 10px 30px rgba(#000, .15);
  }

  .wf-active & {
    opacity: 1;
    transition: opacity 1s;
  }
}

.masthead {
  position: relative;
  padding: 12rem 0;
  color: #fff;
  text-align: center;

  h1 {
    margin-bottom: 0;
    font-weight: 300;
    // color: $bittersweet-light;
  }

  h2 {
    margin-top: 0;
    font-weight: 300;
  }

  .salam {
    margin-bottom: 3rem;

    img {
      width: 60%;

      @media #{$small-only} {
        width: 100%;
      }
    }
  }

  .masthead-logo {
    margin-bottom: 8rem;

    img {
      width: 60%;

      @media #{$small-only} {
        width: 100%;
      }
    }
  }

  .social {
    text-align: center;
    margin-top: 2rem;

    a {
      margin: 0 2px;
      opacity: .9;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media #{$medium-only} {
    padding: 5rem 1rem;
  }

  @media #{$small-only} {
    padding: 5rem 1rem;
    background-attachment: scroll;
    h1 {
      line-height: .8;
    }
  }
}

/*==========LYRICS==============*/

.lyrics {
  background: #fff;
  text-align: center;
  text-shadow: none;
  color: $darkgray-light;
  box-shadow: 0 0 15px rgba(#000, .2);

  // paper style
  position: relative;
  background: white;
  background: linear-gradient(top, #c2d9e3 0%, white 5%);
  background-size: 100% 2rem;

  .container {
    position: relative;
    overflow: hidden;
    background: transparent url(#{$imgurl}/coffee.png) no-repeat right bottom;
    padding: 6rem 0 10rem;
  }

  h1 {
    color: $bittersweet-light;
    font-size: 6rem;
    line-height: 1;
    margin: 2rem 0 0;
  }

  h3 {
    color: $mediumgray-dark;
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 2rem;
  }

  p {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
  }

  img.pencil {
    position: absolute;
    left: 10px;
    bottom: -120px;
    max-width: inherit;
  }

  // p.big {
  //   font-weight: 400;
  //   font-size: 3rem;
  //   line-height: .9;

  //   @media #{$medium-down} {
  //     font-size: 1.7rem;
  //   }
  // }

  @media #{$medium-only} {
    .container {
      padding: 4rem 0 10rem;
    }

    img.pencil {
      bottom: -120px;
    }

    .columns:first-child {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media #{$small-only} {
    background-size: 100% 1.5rem;

    .container {
      padding: 3rem 0 9rem;
    }

    h1 {
      font-size: 3rem;
      margin: 1.5rem 0;
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      margin: 1.5rem 0;
      font-size: 1.5rem;
    }

    img.pencil {
      left: 0;
      bottom: -150px;
    }

    .columns:first-child {
      p:last-child {
        margin-bottom: 0;
      }
    }

  }
}

/*==========BIG BOTTOM==============*/

.big-bottom {
  background: url(#{$imgurl}/bg_palm_edit.jpg) no-repeat fixed center bottom;
  background-size: cover;

  .bigtext-wrapper {
    margin: 12rem 0;
    text-shadow: 2px 2px 0 rgba(#000, .3);

    h1, h2 {
      margin: 0;
      // line-height: .8;
      // font-family: "franklin-gothic", $font-family-sans-serif;
    }

    h1 {
      color: $bittersweet-light;
      letter-spacing: 0;
    }
    h2 {
      font-weight: 300;
    }
  }

}

/*==========GALLERY==============*/

.gallery {
  text-shadow: none;
  background: #fff;
  color: $darkgray-light;
  text-align: center;

  .container {
    padding: 6rem 0;
  }
}

/*==========FOOTER==============*/

footer {
  padding: 6rem 0;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(#000, .2);
  color: #fff;

  .box {
    display: inline-block;
    padding: .8rem 1.5rem;
    background: rgba(#fff, .2);
    // border: 1px solid rgba(#fff, .3);
    border-radius: 3px;
  }

  h3, h4 {
    margin: 0;
    font-size: 1em;
    line-height: 1.2;
  }

  i.fa {
    color: $flat-red-1;
  }
}


// =================================
// background images

.bg-layer {
  // background: #8b534d;
  background: desaturate(shade($bittersweet-light, 60%), 20%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: .6;
}

// Masonry
.item {
  width: 50%;
  .in {
    margin: 6px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .ol {
      position: absolute;
      z-index: 10;
      background: tint($bittersweet-light, 20);
      width: 100%;
      height: 100%;
      opacity: .2;
      transition: opacity .3s;
    }

    img {
      z-index: -1;
      display: block;
    }

    &:hover {
      .ol {
        opacity: 0;
      }
    }
  }

  @media #{$small-only} {
    width: 100%;
  }
}
// .item.w2 { width: 50%; }
