    <!-- ******************** MASTHEAD SECTION ******************** -->
    <main class="masthead screen" id="top" role="main" data-scroll-index="0">
      <div class="container">
        <div class="row">
          <div class="large-12 columns">
            <!-- <h2 class="salam">Assalamualaikum Warahmatullah.</h2> -->
            <div class="salam">
              <img src="<%= imgurl("salam.svg") %>" alt="">
            </div>

            <div class="masthead-logo">
              <img alt="logo" src="<%= imgurl("logo.svg") %>">
            </div>

            <!-- <div class="bigtext-wrapper">
              <h1 class="caravan-of">Caravan of</h1>
              <h1 class="praise">Praise</h1>
              <h2 class="sub">Come Join The Caravan</h2>
            </div> -->
          </div>
        </div>
      </div>
    </main>

    <!-- ******************** FOOTER ******************** -->
    <footer class="container" data-scroll-index="5">
      <div class="row">
        <div class="large-12 footer-text text-center">
          <h1>Together with us.</h1>
          <h1 class="subheader">Let's dakwah through music.</h2>
        </div>
        <div class="large-12 columns footer-links text-center">
          <h3>&copy; 2014 All rights reserved.</h3>
          <h4>Developed with <i class="fa fa-heart"></i> by Mahabbah Tech.</h4>
        </div>
      </div>
    </footer>
